.background-home {
  //   background-color: rgb(243, 243, 243);
  margin: auto;
  height: 100%;
}
.login-form {
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border: 1px solid black;
  padding: 99px 20px;
  text-align: center;
  height: 333px;
}

.text {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center !important;
  }
  &-validation {
    color: red;
    font-size: 14px;
    text-align: left !important;
  }
  &-id {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
}

.div {
  &-position {
    position: absolute;
  }
}

.col {
  &-desc {
    margin-top: 2%;
  }
}

.row {
  &-margin {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  &-underline {
    border-bottom:1.5px solid black;
  }
}

.button {
  &-padding {
    padding: 10% 0;
  }
}

@media only screen and (max-width: 766px) {
  .login-form {
    width: 88%;
  }
}

@media only screen and (min-width: 767px) {
  .login-form {
    width: 50%;
  }
}

.repository {
  &-page {
    border: 1px solid black;
    margin: 2% 0;
    padding: 5px;
  }
  &-center {
    margin: auto;
    width: 51%;
    padding: 7% 0px;
  }
  &-list {
    margin: 2% 0;
    border: 1px solid black;
    padding: 5px;
  }
}
